#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

form {
    width: 450px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(117, 117, 117);
    padding: 1em;
}
form input {
    padding: 10px;
    margin: 5px 0;
    flex: 1;
    font-size: 1em;
    font-weight: bold;
}

form button {
    margin-top: 1em;
    font-weight: bold;
    flex: 1;
}
label {
    font-weight: bold;
}
.list li {
    border: 2px solid rgb(117, 117, 117);
}

.list .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 5px;
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    /* border: 2px solid rgb(117, 117, 117); */
}

.list {
    margin-top: 1em;
}

.editors {
    display: flex;
    align-items: center;
    gap: 10px;
}
.edit {
    border: 2px solid rgb(0, 155, 194);
    padding: 5px;
    font-weight: bold;
}

h1 {
    margin-bottom: 1em;
}
li img {
    width: 100%;
    object-fit: fit;
}

.product {
    border: 2px solid white;
    margin-top: 1em;
    padding: 1em;
}
